@import "../colors/colors";
@import "../variables/variables";

.hotel-wrap {
	margin: 30px 100px;

	display: flex;
	padding: 20px;
	border: 3px solid $border-blue;
	border-radius: 20px;
	background-color: $background-blue;
	box-shadow: 3px 3px 3px black;

	&:hover {
		opacity: 0.9;
		background-color: white;
		cursor: pointer;
		box-shadow: 2px 2px 2px black;
	}
	&:active {
		opacity: 0.3;
		box-shadow: 0px 0px 0px black;
	}

	.image-wrap {
		flex: 1;

		img {
			min-height: 200px;
			max-height: 300px;
			width: 400px;
			max-width: 1000px;
			border-radius: 20px;
		}
	}

	.text-wrap {
		flex: 1;

		h2 {
			font-size: 30px;
			margin: 0 0 20px 0;
		}

		p {
			margin: 0 0 10px 0;
		}
	}
}

a {
	color: inherit;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

/* Hotel details
--------------------*/

.hotel-details-wrap {
	margin: 20px 40px;

	padding: 20px;
	border: 3px solid $border-blue;
	border-radius: 20px;
	background-color: $background-blue;
	.image-details-wrap {
		.image {
			min-height: 200px;
			max-height: 300px;
			width: 400px;
			border-radius: 20px;
		}
	}

	.text-wrap {
		h2 {
			font-size: 30px;
			margin: 0 0 20px 0;
		}

		p {
			margin: 0 0 10px 0;
		}
	}
}

a {
	color: inherit;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

.search {
	padding: 0 40px;
}

.map-wrap {
	margin: 20px 20px 0 0px;
	padding: 20 0px;
	h2 {
		font-size: 30px;
		margin: 15px 0;
	}
}

@media screen and (max-width: $phone-width) {
	.hotel-wrap {
		margin: 20px 10px;
		display: flex;
		flex-direction: column;
		padding: 20px 0;
		box-shadow: 1px 1px 1px black;

		.image-wrap {
			text-align: center;

			img {
				min-height: 200px;
				max-height: 400px;
				min-width: 300px;
				border-radius: 20px;
			}
		}

		.text-wrap {
			padding: 15px;

			h2 {
				font-size: 30px;
				margin: 0 0 20px 0;
			}

			p {
				margin: 0 0 10px 0;
			}
		}
	}
	.search {
		text-align: center;
	}
}

/* Hotel details
--------------------*/

.hotel-details-wrap {
	padding: 20px;
	border: 3px solid $border-blue;
	border-radius: 20px;
	background-color: $background-blue;

	.image-details-wrap {
		.image {
			min-height: 200px;
			max-height: 500px;
			width: 100%;
			max-width: 1000px;
			border-radius: 20px;
		}
	}

	.text-wrap {
		h2 {
			font-size: 30px;
			margin: 0 0 20px 0;
		}

		p {
			margin: 0 0 10px 0;
		}
	}
}
