@import "../colors/colors";
@import "../variables/variables";
@import "partials/typography/fonts";


.navbar {
	
	padding: 20px;
	color: white;
	background-color: $navbar-blue;
}

.link-wrap {
	font-size: 30px;
}
